<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--***** Getter Setter *****-->
    <bean id="getterSetterBasedBean" class="prateek_gupta.sample_project.ioc_containers.Bean">
        <property name="param1" value="test"/>
        <property name="subBean" ref="getterSetterBasedSubBean"/>
    </bean>

    <bean id="getterSetterBasedSubBean" class="prateek_gupta.sample_project.ioc_containers.SubBean">
        <property name="param" value="1"/>
    </bean>

    <!--***** Constructor *****-->
    <bean id="constructorBasedBean" class="prateek_gupta.sample_project.ioc_containers.Bean">
        <constructor-arg name="param1" value="test"/>
        <constructor-arg name="subBean" ref="constructorBasedSubBean"/>
    </bean>

    <bean id="constructorBasedSubBean" class="prateek_gupta.sample_project.ioc_containers.SubBean">
        <constructor-arg name="param" value="1"/>
    </bean>

    <!--***** Constructor Autowired *****-->
    <bean id="constructorAutowiredBasedBean"
          class="prateek_gupta.sample_project.ioc_containers.Bean" autowire="constructor"/>

    <!-- id for the following tag needs to match the name of the argument in the constructor
    of the Bean class-->
    <bean id="subBean"
          class="prateek_gupta.sample_project.ioc_containers.SubBean" autowire="constructor"/>

    <bean id="param1" class="java.lang.String">
        <constructor-arg value="test"/>
    </bean>

    <bean id="param" class="java.lang.String">
        <constructor-arg value="1"/>
    </bean>

    <!--***** ByName Autowired *****-->
    <bean id="byNameAutowiredBasedBean"
          class="prateek_gupta.sample_project.ioc_containers.Bean" autowire="byName"/>
    <!--Above tag will use the bean tag with ids "param1" and "subBean" and as Object of
    String cannot be created with setter, so it will be null -->

    <!--***** ORM *****-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/sample_project_1"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>prateek_gupta.sample_project.core.entities.Table1Entity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
</beans>